.header {
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 24px;
  .header-container {
    .header-left {
      grid-column: span 2;
    }
    .header-right {
      grid-column: span 2;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .header-text {
        display: none;
      }
      .header-phone {
        display: flex;
        font-size: 1rem;
        line-height: 20px;
        font-weight: 700;
        letter-spacing: 0.4px;
        gap: 0.5rem;
      }
    }
  }

  @media (min-width: 768px) {
    .header-container {
      .header-left {
        grid-column: span 6;
      }
      .header-right {
        grid-column: span 6;
        gap: 1rem;
        .header-text {
          display: block;
          color: #03050F;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 0.2px;
        }
        .header-phone {
            font-size: 1rem;
            line-height: 20px;
            font-weight: 700;
            letter-spacing: 0.4px;
          }
      }
    }
  }
}
