.header {
  display: flex;
  justify-content: center;
  //width: 100%;
  .header-container {
    display: flex;
    width: 100%;
    max-width: 1120px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    .header-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .header-text {
        display: none;
      }
      .header-phone {
        display: flex;
        font-size: 1rem;
        line-height: 20px;
        font-weight: 700;
        letter-spacing: 0.4px;
        gap: 0.5rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .header-container {
    .header-left {
      grid-column: span 6;
    }
    .header-right {
      grid-column: span 6;
      gap: 1rem;
      .header-text {
        display: block;
        color: #03050f;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.2px;
      }
      .header-phone {
        font-size: 1rem;
        line-height: 20px;
        font-weight: 700;
        letter-spacing: 0.4px;
      }
    }
  }
}
