@import "~@fortawesome/fontawesome-free/css/all.css";

@import "./home/main.scss";
@import "./header.scss";
@import "./grid.scss";
@import "./footer.scss";
@import "./home/termsAndConditions.scss";
@import "./plans//cardPlanInfo.scss";
@import "./stepper.scss";
@import "./plans/cardProducts.scss";

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}
