.plan-card-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  width: 100%;

  .medical-plan-card {
    background-color: #fff;
    padding: 68px 32px 48px 32px;
    border-radius: 10px;
    box-shadow: 0 0 10px #aeacf3;
    width: 14rem;
    display: flex;
    flex-direction: column;

    hr {
      border: none;
      border-top: 1px solid #ccc;
      width: 100%;
    }

    .box-title-icon {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
    }

    .plan-title {
      font-size: 24px;
      line-height: 32px;
      font-weight: 900;
      letter-spacing: -0.2px;
      color: #141938;
      margin-bottom: 10px;
    }

    .box-price {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      margin-bottom: 20px;

      .plan-cost-title,
      .plan-cost {
        font-size: 12px;
        line-height: 16px;
        font-weight: 900;
        color: #141938;
        align-self: flex-start;
      }

      .plan-cost-title {
        letter-spacing: 0.6px;
        color: #7981b2;
      }

      .plan-cost-discount {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        letter-spacing: -0.2px;
        margin-top: 4px;
        color: #7981b2;
        text-decoration: line-through;
      }
      .plan-cost {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.2px;
        margin-top: 4px;
      }
    }

    .plan-benefits {
      ul {
        padding-left: 20px;
        margin-bottom: 40px;

        li {
          font-size: 16px;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: 0.1px;
          margin-bottom: 24px;
        }

        li:last-child {
          margin-bottom: 0;
        }
      }
    }

    .select-plan-button {
      width: 14rem;
      height: 3rem;
      background-color: #ff1c44;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 32px;
      cursor: pointer;
    }
  }

  @media (min-width: 768px) {
    width: 288px;
    justify-content: flex-end;

    .medical-plan-card {
      width: 288px;
      box-sizing: border-box;

      .select-plan-button {
        margin-top: auto;
      }
    }
  }
}
