.content-card {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem 2.5rem 1.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 10px #aeacf3;
  border: 1px solid transparent;
  &.selected {
    border: 3px solid black;
    box-shadow: 0 0 10px transparent;
  }

  .checkbox-card {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid #a9afd9;
    appearance: none;
    outline: none;
    align-self: flex-end;
    flex-shrink: 0;

    input {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
    }

    .fa-solid {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    input:checked {
      & ~ .fa-solid {
        display: block;
      }
    }
  }

  .box-icon-title {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
    align-items: center;

    .icon-card {
      display: flex;
      align-items: center;
    }

    .title-card {
      font-size: 20px;
      font-weight: 900;
      line-height: 28px;
      letter-spacing: -0.2px;
      color: #141938;
    }

    .description-card {
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: #141938;
    }
  }
}

@media (min-width: 768px) {
  .content-card {
    box-sizing: border-box;
    padding: 16px 24px 40px 24px;
    height: 212px;
    width: 256px;
    overflow: hidden;
  }
}
